$font-case: normal 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$background-image: url('../img/header_background_v2.jpg');
$border-color-grey: #CFD8DC;
$color-navigation-h1: #FF5722;
$style-color: #0401AC;
