$font-case: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$background-image: url('../img/header_background_v1.jpg');
$border-color-grey: #607D8B;
$color-navigation-h1: #FFFFFF;
$style-color: #0097A7;
